.body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-address-contact {
  display: flex;
  align-items: center;
  gap: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-w {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link.current {
  color: #404bbf;
}

.header-menu-link.current {
  position: relative;
}

.header-menu-link.current::after {
  content: '';
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-address {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
}

.header-address-link:hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}

.header-address-link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}

.hero {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-align: center;
  margin: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
:focus {
  background-color: #404bbf;
}

.benefits {
  padding: 120px 0;
}

.benefits-img-d {
  flex-basis: calc((100% - 72px) / 4);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

.benefits-svg {
  width: 64;
  height: 64;
}

.benefits-ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.benefits-li {
  flex-basis: calc((100% - 72px) / 4);
  margin: 0 auto;
  align-items: center;
}

.benefits-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
  margin-bottom: 8px;
}

.benefits-txt {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.our-team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-titel {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.our-team-list {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team-ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.benefits-title-our-team {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.benefits-txt-our-team {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.icon-list {
  margin-top: 8px;
  justify-content: center;
  display: flex;
  gap: 24px;
}

.icon-item {
  height: 40px;
  width: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
  background-color: #404bbf;
}

.icon-link:focus {
  background-color: #404bbf;
}

.icon-icon {
  fill: #f4f4fd;
}

.btt {
  padding: 32px 0;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-li {
  flex-basis: calc((100% - 48px) / 3);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .overlay-p {
  transform: translateY(0%);
}

.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  text-align: left;
}

.overlay {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.header-link-s {
  color: #f4f4fd;
  display: inline-block;
}

.footer-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.box-footer {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: baseline;
}

.logo-footer {
  margin-right: 120px;
}

.footer-soc {
  box-sizing: border-box;
}

.benefits-svg {
  height: 64px;
  width: 64px;
}

.footer-soc-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  margin-left: 0;
  margin-bottom: 16px;
}

.icon-list-foot {
  justify-content: center;
  display: flex;
  gap: 16px;
}

.icon-link-foot {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-foot:hover {
  background-color: #31d0aa;
}

.icon-link-foot:focus {
  background-color: #31d0aa;
}
